
.Main-div
{
    display: flex;
}

.First-div
{
    flex-basis: 30%;
    border:  rgb(0, 123, 255) solid 6px;
    background-image: url(./Logotwinter.png);
}

.Second-div
{
    flex-basis: 20%;
    border: white solid 6px;
}


.Third-div
{
    flex-basis: 50%;
    border: white solid 6px;
    font-size: 30px;
    font-weight: 900 ;
}